body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px;
    padding: 30px;
    ;
    background-color: ##D3D3D3;
    

    header {
    background-color: #lightgray;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin: 80px;
    padding: 80px;
    }


.about-me {
    display: flex;
    padding: 40px 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .container {
  text-align: center;
}
    
    
.parent-container {
  position: relative;
}

img {
  position: absolute; 
  top: 100%; 
  left: 100%; 
}



.profile-section {
    display: flex;
    align-items: center;
}

.small-image {
    width: 50px;
    height: 50px;
}
.profile-name {
    font-weight: bold;
    font-size: 1.2em;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}


