
body {
    margin: 0;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px;
    padding: 30px;
    ;
    background-color: # #FFFFFF;
   
}