
body {
    margin: 0;
    font-family: sans-serif;
}


.banner {
    background-color: #f0f0f0; 
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.banner-image {
     width: 100%; 
     height: auto; 
   }


.main-navigation ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block; 
    margin-left: 20px;
}

.main-navigation a {
    text-decoration: none; /
    color: #333; 
    font-weight: bold;
    padding: 5px 10px;
}

.main-navigation a:hover {
    color: #007bff; 
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px;
    padding: 30px;
    ;
    background-color: #Light Gray;
    color: #333;
}